<div style="background-color: var(--tf-page-bg-color)" class="bg-gradient py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img width="300px" src="{{ site.data.bio.basics.picture }}" class="d-block mx-auto rounded-circle">
      </div>
      <div class="col-lg-8">
        <h1 class="display-4 text-center">{{ site.data.bio.basics.name }}</h1>
        <p class="lead text-center">
          <span class="tf-lang-fr">{{ site.data.bio.basics.label }}</span>
          <span class="tf-lang-en">{{ site.data.bio.basics.label_en | default: site.data.bio.basics.label }}</span>
          <span class="tf-lang-es">{{ site.data.bio.basics.label_es | default: site.data.bio.basics.label }}</span>
        </p>
        <p class="lead">
          <span class="tf-lang-fr">{{ site.data.bio.basics.summary }}</span>
          <span class="tf-lang-en">{{ site.data.bio.basics.summary_en | default: site.data.bio.basics.summary }}</span>
          <span class="tf-lang-es">{{ site.data.bio.basics.summary_es | default: site.data.bio.basics.summary }}</span>
        </p>
        <hr class="my-4">
        <p class="lead m-0">
          <span class="tf-lang-fr">Intérêts :</span>
          <span class="tf-lang-en">Interests:</span>
          <span class="tf-lang-es">Intereses:</span>
          {% for interest in site.data.bio.interests %}
          <span>
            <span class="tf-lang-fr">{{ interest.name }}</span>
            <span class="tf-lang-en">{{ interest.name_en | default: interest.name }}</span>
            <span class="tf-lang-es">{{ interest.name_es | default: interest.name }}</span>
          </span>{% if forloop.last != true %}, {% endif %}
          {% endfor %}
        </p>
        <hr class="my-4">
        <div class="row">

          {% if site.data.bio.basics.website %}
            {% capture url %}{{ site.data.bio.basics.website }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name='house' %}
            </div>
          {% endif %}

          {% if site.data.bio.basics.email %}
            {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name='envelope' %}
            </div>
          {% endif %}

          {% for profile in site.data.bio.basics.profiles %}
            {% capture url %}{{ profile.url }}{% endcapture %}
            {% capture name %}{{ profile.network | downcase }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name=name %}
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
